[global]
thread
ioengine=libaio
direct=1
buffered=0
log_avg_msec=1000
group_reporting=1
rw=%workload%
bs=8m
iodepth=100
numjobs=1
runtime=180
time_based
write_bw_log=%workload%.results
write_iops_log=%workload%.results
write_lat_log=%workload%.results
